body {
    margin:0;
    padding:0;
    background-color:darkgray;
}


#root {
    /* When this is relative, child elements positioned absolutely will
       be relative to this element, not the document providing more accurate
       positioning, since the canvas will be at (0, 0) */
    position: relative;
}

#root #ui {
    /* This will make the UI appear on top of the canvas */
    position: absolute;
    top: 0;
    left: 0;
    font-family: VT323;
}

#root #ui input {
    font-family: VT323;
}

#root #ui button {
    font-family: VT323;
}

  /* These are scene-based UI styles */
#ui.mainmenu .button {
    background-color: darkgray;
    color: white;
    width: 10em;
    font-size: 1.5em;
    border-radius: 4px;
}

#ui.mainmenu .input {
    background-color: darkgray;
    color: white;
    width: 10em;
    font-size: 1.5em;
    border-radius: 4px;
}
